# este archivo contiene las dependencias necesarias para el proyecto
# depetencias de desarrollo
python-dotenv

# flask dependencias
Flask
flask_login
Flask-WTF
flask-jwt-extended
marshmallow
marshmallow-sqlalchemy

# base de datos dependencias
sqlalchemy
flask-sqlalchemy
flask-marshmallow
flask-migrate
pyodbc

# incripición dependencias
Werkzeug
email-validator
cryptography.fernet
cryptography

# Testing dependencias
pytest 
pytest-cov