# este archivo contiene las dependencias necesarias para el proyecto
# depetencias de desarrollo
python-dotenv

# flask dependencias
Flask
flask_login
Flask-WTF
flask-jwt-extended
flask-cors

# base de datos dependencias
sqlalchemy
flask-sqlalchemy
flask-marshmallow
flask-migrate
marshmallow
marshmallow-sqlalchemy
pyodbc

# incripición dependencias
Werkzeug
email-validator
cryptography.fernet
cryptography

# Testing dependencias
pytest 
pytest-cov

# Dependencias de ia
langchain
langgraph
langchain-deepseek
langchain-google-genai
langchain-community
SpeechRecognition
PyAudio
pyttsx3
pdfkit
google-search-results
shadai


##alternativas para wkhtmltopdf
xhtml2pdf
