# este archivo contiene las dependencias necesarias para el proyecto
# flask dependencias
Flask
flask_login
Flask-WTF
marshmallow
marshmallow-sqlalchemy

# base de datos dependencias
sqlalchemy
flask-sqlalchemy
flask-marshmallow
pyodbc

# incripición dependencias
Werkzeug
email-validator
cryptography.fernet
cryptography

# iapi dependencias
deepseek-ai
requests
python-dotenv

# Testing dependencias
pytest 
pytest-cov

# Dependencias de ia
langchain
langgraph
langchain-deepseek
langchain-google-genai
SpeechRecognition
PyAudio