<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página No Encontrada - InklúAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errorsStyles.css')}} ">
</head>
<body>
    <div class="container">
        <div class="auth-card">
            <div class="error-container">
                <div class="error-code">404</div>
                <div class="error-message">Página No Encontrada</div>
                <div class="error-description">
                    La página que estás buscando puede haber sido eliminada, su nombre ha cambiado o no está disponible temporalmente.
                </div>
                <a href="../index.html" class="auth-button primary">Volver al Inicio</a>
            </div>
        </div>
    </div>
</body>
</html>
